NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_BASE_BUILDER_CODE=
PAY_LINK_ALLOWED_AUTH_ORIGINS=
PAY_LINK_ALLOWED_FRAME_ANCESTORS=

NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SECRET_KEY=

PAY_LINK_SESSION_SECRET=
BASE_BUILDER_OWNER_ADDRESS=
